.App {
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 1.5vmin);
  display: flex;
  flex-direction: column;
  gap: 100px;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

th, td {
  padding: 10px;  
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

th {
  background-color: #9e9e9e;
  color: #e8e8e8;
}

td {
  border: 1px solid black; 
}
